.Main {
    flex: 1;
    min-height: 500px;
    width: 800px;
    margin: 10px auto;

    .Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px;
        background-color: white;
        margin: 1.5rem auto;
        border-radius: 5px;
        padding-bottom: 2rem;

        .Sbox {
            display: flex;
            width: 70%;
            justify-content: space-around;
            align-items: center;
            align-self: flex-start;
            margin-bottom: 1.5rem;

            .Input {
                width: 60%;
            }
            .Button {
                width: 10%;
            }
            .Input + .Button {
                margin-top: 0;
            }
        }
    }
}